.chats-user-list {
    background-color: #fff;
    cursor: pointer;
    padding: 10px;

    .username {
        color: black;
    };

    .description {
        color: black;
    }

    &:hover {
        background-color: #17a2b8;
        .username {
            color: #fff;
        };
    
        .description {
            color: #fff;
        }
    }

    &.active {
        background-color: #17a2b8 !important;
        .username {
            color: #fff;
        };
    
        .description {
            color: #fff;
        }
    }
};